{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Django Vue Integration</title>

    <link rel="stylesheet" href="{% static 'css/template.css' %}"/>
    {% render_bundle 'main' 'css' %}

</head>
<body>
<header style="" data-booted="true">
    <div class="v-toolbar__content" style="height: 64px;">
        <div class="v-toolbar__title" style="width: 350px;">
            <a href="/" class="title">
                Garbanzos&trade;
            </a>
        </div>
        <div class="v-input hidden-sm-and-down pl-10 ml-4 v-input--hide-details theme--dark v-text-field v-text-field--single-line v-text-field--solo v-text-field--solo-inverted v-text-field--solo-flat v-text-field--is-booted v-text-field--enclosed">
            <div class="v-input__control">
                <div class="v-input__slot">
                    <div class="v-input__prepend-inner">
                        <div class="v-input__icon v-input__icon--prepend-inner">
                            <i aria-hidden="true"
                               class="v-icon notranslate mdi mdi-magnify theme--dark"></i>
                        </div>
                    </div>

                    <div class="v-text-field__slot">
                        <label style="left: 0; right: auto; position: absolute;">
                            <input id="payloader" placeholder="Buscar" type="text">
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <button type="button" class="v-btn v-btn--icon v-btn--round theme--dark v-size--default">
            <span class="v-btn__content">
                <i aria-hidden="true" class="v-icon notranslate mdi mdi-account-circle theme--dark"></i>
            </span>
        </button>
        <button type="button" class="v-btn v-btn--icon v-btn--round theme--dark v-size--default">
            <span class="v-btn__content">
                <span class="v-badge v-badge--overlap theme--dark">
                    <i aria-hidden="true" class="v-icon notranslate mdi mdi-bell theme--dark"></i>
                    <span class="v-badge__wrapper">
                        <span
                                aria-atomic="true"
                                aria-label="Badge"
                                aria-live="polite"
                                role="status"
                                class="v-badge__badge green"
                                style="inset: auto auto calc(100% - 12px) calc(100% - 12px);">
                            2
                        </span>
                    </span>
                </span>
            </span>
        </button>
        <a href="/cart" class="v-btn v-btn--icon v-btn--round theme--dark v-size--default">
            <span class="v-btn__content">
                <span class="v-badge v-badge--overlap theme--dark">
                    <i aria-hidden="true" class="v-icon notranslate mdi mdi-cart theme--dark"></i>
                    <span class="v-badge__wrapper">
                        <span aria-atomic="true"
                              aria-label="Badge"
                              aria-live="polite"
                              role="status"
                              class="v-badge__badge green"
                              style="inset: auto auto calc(100% - 12px) calc(100% - 12px);">
                            2
                        </span>
                    </span>
                </span>
            </span>
        </a>
    </div>
</header>
<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>

<div id="app">
    <app></app>
</div>
{% render_bundle 'main' 'js' %}

<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4 widget">
            <h3>Acerca de Pachamama</h3>
            <p>
                Artesanias Pachamama...<br/>
                De la Tierra para ti. Somos un colectivo familiar de artesanos,
                trabajando piedras semipreciosas, hilos encerados y semillas.
            </p>
        </div>
        <div class="col" style="text-align: right">
            <div class="col">
                <h3>Contactanos:</h3>
                <ul class="footer-links">
                    <li>
                        <a href="https://www.instagram.com/pachamamaartesanias03/">
                            @pachamamaartesanias03
                            <b-icon-instagram/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row copyright">
        <div class="col-md-12 text-center">
            <p>
                <small class="block">Artemis&trade; 2021</small>
                <small class="block">Powered by Django & VueJS</small>
            </p>
        </div>
    </div>
</footer>
<!-- built files will be auto injected -->

{% csrf_token %}
<script>
    let bar = document.getElementById('payloader');

    bar.onkeydown = function (e) {
        if (e.keyCode === 13) {
            // submit
            console.debug("submit");
            const form = document.createElement('form');
            form.method = "post";
            form.action = "/garbanzos_search";

            form.appendChild(bar);

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]')
            form.appendChild(csrftoken);

            document.body.appendChild(form);
            form.submit();
        }
    };
</script>
</body>
</html>