{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Garbanzos</title>

    <link rel="stylesheet" href="{% static 'css/template.css' %}"/>

    {% if blog %}
        {% render_bundle 'main' 'css' config='BLOG' %}
    {% else %}
        {% render_bundle 'main' 'css' %}
    {% endif %}


</head>
<body>
<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>

<header style="height: 5em; margin-top: 0; transform: translateY(0); left: 0; right: 0;" data-booted="true">
    <div class="v-toolbar__content" style="height: 64px;">
        <div class="v-toolbar__title" style="width: 350px;">
            <img src="{% static 'logo.png' %}" alt="logo" height="50" width="50" onclick="to_home()">
        </div>
        <div class="v-input hidden-sm-and-down pl-10 ml-4 v-input--hide-details theme--dark v-text-field v-text-field--single-line v-text-field--solo v-text-field--solo-inverted v-text-field--solo-flat v-text-field--is-booted v-text-field--enclosed">
            <div class="v-input__control">
                <div class="v-input__slot">
                    <div class="v-text-field__slot">
                        <label for="search" class="v-label theme--dark"
                               style="left: 0; right: auto; position: absolute;">
                        </label>
                        <input id="search" type="text" onkeydown="search(event)" placeholder="Buscar">
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        {% if not user.is_authenticated %}
            <a href="/login" class="v-btn v-btn--icon v-btn--round theme--dark v-size--default">
                <span class="v-btn__content">
                    <img src="{% static 'user.png' %}" alt="usr" height="35" width="35">
                </span>
            </a>
        {% else %}
            <a href="/logout" class="v-btn v-btn--icon v-btn--round theme--dark v-size--default">
                <span class="v-btn__content">
                    <img src="{% static 'logout.png' %}" alt="usr" height="35" width="35">
                </span>
            </a>
        {% endif %}
        <a href="/garbanzos_cart" class="v-btn v-btn--icon v-btn--round theme--dark v-size--default">
            <span class="v-btn__content">
                <span class="v-badge v-badge--overlap theme--dark">
                    <img src="{% static 'cart.png' %}" alt="usr" height="35" width="35">
                </span>
            </span>
        </a>
    </div>
</header>

<div>
    <app id="app"></app>
</div>

{% if blog %}
    {% render_bundle 'main' 'js' config='BLOG' %}
{% else %}
    {% render_bundle 'main' 'js' %}

{% endif %}

<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4 widget">
            <h3>Acerca de Garbanzos</h3>
            <p>
                Garbanzos Store...<br/>
                De la Tierra para ti. Somos un colectivo familiar de artesanos,
                pinturas, lienzos
            </p>
        </div>
        <div class="col" style="text-align: right">
            <div class="col">
                <h3>Contactanos:</h3>
                <ul class="footer-links">
                    <li>
                        <a href="mailto:garbanzos.store@gmail.com">
                            Correo: garbanzos.store@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/garbanzos.store/">
                            Instagram @garbanzos.store
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Garbanzos-store-105597602176548">
                            Facebook Garbanzos Store
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row copyright">
        <div class="col-md-12 text-center">
            <p>
                <small class="block">Artemis&trade; 2021</small>
                <small class="block">Powered by Django & VueJS</small>
            </p>
        </div>
    </div>
</footer>
<!-- built files will be auto injected -->

<script>
    function search(e) {
        if (e.keyCode !== 13) return;
        const args = document.getElementById("search")

        window.location = `/garbanzos_search/${args.value}`
    }

    function to_home() {
        window.location = "/";
    }
</script>
</body>
</html>
