{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Garbanzos</title>

    <link rel="stylesheet" href="{% static 'css/template.css' %}"/>

    {% if blog %}
        {% render_bundle 'main' 'css' config='BLOG' %}
    {% else %}
        {% render_bundle 'main' 'css' %}
    {% endif %}


</head>
<body>
<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>

<div>
    <app id="app"></app>
</div>

{% if blog %}
    {% render_bundle 'main' 'js' config='BLOG' %}
{% else %}
    {% render_bundle 'main' 'js' %}

{% endif %}

<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4 widget">
            <h3>Acerca de Garbanzos</h3>
            <p>
                Garbanzos Store...<br/>
                De la Tierra para ti. Somos un colectivo familiar de artesanos,
                pinturas, lienzos
            </p>
        </div>
        <div class="col" style="text-align: right">
            <div class="col">
                <h3>Contactanos:</h3>
                <ul class="footer-links">
                    {#                    <li>#}
                    {#                        <a href="https://www.instagram.com/pachamamaartesanias03/">#}
                    {#                            @pachamamaartesanias03#}
                    {#                            <b-icon-instagram/>#}
                    {#                        </a>#}
                    {#                    </li>#}
                </ul>
            </div>
        </div>
    </div>

    <div class="row copyright">
        <div class="col-md-12 text-center">
            <p>
                <small class="block">Artemis&trade; 2021</small>
                <small class="block">Powered by Django & VueJS</small>
            </p>
        </div>
    </div>
</footer>
<!-- built files will be auto injected -->
</body>
</html>